/*** START normalize - mostly from html5boilerplate's normalize */
*,
*::before,
*::after {
	box-sizing: inherit;
	/*margin: 0;
	padding: 0;*/
}
html {
	box-sizing: border-box;
	--lh: 1.5;
	--fs: 16px;
	line-height: var(--lh);
	font-size: var(--fs);
	-webkit-text-size-adjust: 100%;
	margin: .25em;
}
body{
	margin: 0;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
b,
strong {
	font-weight: bolder;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
details {
	display: block;
}
summary {
	display: list-item;
}
[hidden] {
	display: none;
}

/*** END normalize */

[class*="control__StyledGridContainer"]{
	/*border:1px solid red;*/
	margin:1px;
}
[class*="control__StyledGridButtons"] {
	/*border:1px solid green;*/
	background:#444;
	display: flex;
	justify-content: end;
}

.StreamLine-text{
	position: relative;
	/*max-width: 15em;*/
	max-height: var(--lh);
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.StreamLine-text:hover{
	background:#EEE;
	max-width:unset;
	overflow:unset;
	max-height:unset;
	white-space: unset;
}
